<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
        rel="stylesheet"
        />
        <title>About | IDR</title>
    </head>
    <body>
        <div class="register">
            <nav class="nav1">
                <h2>IMPROVED DISASTER RESPONSE WITH REAL TIME LOCATION MONITORING</h2>
            </nav>
            <header>
                <img class="logo" src="static/logo.png" alt="logo" />
                <nav>
                <ul class="nav2">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/involve">Get involved</a></li>
                </ul>
                </nav>
                <a class="btn" href="/donate"><button>Donate Now</button></a>
            </header>
        </div>
        <hr>
        <div class="about">
            <h2>About Us</h2>
            <p>HelpOn is the first national hotline dedicated to providing year-round disaster crisis counseling.
                This toll-free, multilingual, crisis support service is available 24/7 to all residents in India and its territories who are 
                experiencing emotional distress related to natural or human-caused disasters.</p>
            <br>
            <table>
                <tr>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvlvxfVUCu1q9j5f2WmHK3OskuvBkam3AIfg&usqp=CAU" alt="img" id="abtimg1"></td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7grHoR-W827guGLOJ68uV_2pyfu9p8NaxQQ&usqp=CAU" alt="img"></td>
                </tr>
                <tr>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqKZt3u4N1So37Ws6YkT91AJ1adK_Z62qKkwhsn-nsCA9dktA8bdwv_987blVqQfnLt6w&usqp=CAU" alt="img"></td>
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVoVfiUZ_NWBlafUIsl_PUw6GPz8sr7NqMbA&usqp=CAU" alt="img"></td>
                </tr>
            </table>
        </div>
        <footer class="ftrs" >
            <div  >
            <p>
                Model created for GCCP Project | <a href="mailto: aneeshraskar@gmail.com">Reach us by mail</a>
            </p>
            <p>Copyright &copy; All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
