<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <title>Display | IDR</title>
  </head>
  <body>
    <div class="register">
      <nav class="nav1">
        <h2>IMPROVED DISASTER RESPONSE WITH REAL TIME LOCATION MONITORING</h2>
      </nav>
      <header>
        <img class="logo" src="static/logo.png" alt="logo" />
        <nav>
          <ul class="nav2">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/involve">Get involved</a></li>
          </ul>
        </nav>
        <a class="btn" href="/donate"><button>Donate Now</button></a>
      </header>
    </div>
    <hr>
    <h1>Avaliable Resources:</h1>
      <h2><b>Food & Water Stock:- {{Avl[1]}}</b></h2>
      <h2><b>Medicine Stock:- {{Avl[2]}}</b></h2>
      <h2><b>Support Crew:- {{Avl[3]}}</b></h2>
      <h2><b>Ambulances:- {{Avl[4]}}</b></h2>
      <hr>
    <table class="table distab">
      <tr>
        <th>Address</th>
        <th>Calamity</th>
        <th>Food/Water</th>
        <th>Medicine</th>
        <th>Note</th>
      </tr>
      {%for i in Res%}
        <tr>
          <td>{{ i[0] }}</td>
          <td>{{ i[1] }}</td>
          <td>{{ i[2] }}</td>
          <td>{{ i[3] }}</td>
          <td>{{ i[4] }}</td>
        </tr>
      {%endfor%}
    </table>
    <footer class="ftrs" >
      <div  >
      <p>
          Model created for GCCP Project | <a href="mailto: aneeshraskar@gmail.com">Reach us by mail</a>
      </p>
      <p>Copyright &copy; All rights reserved.</p>
      </div>
  </footer>
  </body>
</html>
